<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="78304940-98a8-48ad-a320-38510388b29a" Publisher="CN=Griffin" Version="1.0.0.0" />
  <Properties>
    <DisplayName>Converter</DisplayName>
    <PublisherDisplayName>Griffin</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2.0</OSMinVersion>
    <OSMaxVersionTested>6.2.0</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="Converter.App">
      <VisualElements DisplayName="EZ Base Converter" Logo="Assets\150x150.png" SmallLogo="Assets\SmallLogo.png" Description="EZ Base Converter" ForegroundText="light" BackgroundColor="#464646">
        <DefaultTile ShowName="allLogos" WideLogo="Assets\310x150.png" />
        <SplashScreen Image="Assets\FinalSplash.png" BackgroundColor="#000000" />
        <InitialRotationPreference>
          <Rotation Preference="landscape" />
        </InitialRotationPreference>
      </VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>